{% extends 'TCTennisBundle:Layout:admin_layout.html.twig' %}

{% block body -%}
    <h1>User creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
<<<<<<< HEAD
{#        <a href="{{ path('user') }}">#}
=======
       {# <a href="{{ path('user') }}">
>>>>>>> bd2a7cc2479cdf9c7002f073226730a5c6876c90
            Back to the list
        </a>#}
    </li>
</ul>

    <script>
        console.log($('body'));
        $.getJSON( "ajax/test.json", function( data ) {
            var items = [];
            $.each( data, function( key, val ) {
              items.push( "<li id='" + key + "'>" + val + "</li>" );
            });

            $( "<ul/>", {
              "class": "my-new-list",
              html: items.join( "" )
            }).appendTo( "body" );
          });
    </script>
{% endblock %}
